.vscode/c_cpp_properties.json
*.cmake
*.out
*.marks
*.make
*.log
*.internal
*.o
*.c

build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/point_normals.dir/CXX.includecache
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/feature_tests.bin
build/point_normals
.vscode/launch.json
build/CMakeCache.txt
build/DartConfiguration.tcl
build/CMakeFiles/cmake.check_cache
build/compile_commands.json
build/Makefile
build/CMakeFiles/Makefile2
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/point_normals.dir/link.txt
build
build
